* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  background-size: 720px 780px;
}

#container img {
  width: 720px;
  height: 784px;
  object-fit: cover;
  float: right;
}

#short-text h2 {
  font-family: "Work Sans", sans-serif;
  color: #08c05e;
}

#short-text h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

#short-text p {
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
  color: #ffffff;
}

#email h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #a8a8a8;
}

#link h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #8257e5;
}
