* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "League Spartan", sans-serif;
  font-family: "Work Sans", sans-serif;
}

#container img {
  width: 1175px;
  height: 784px;
}
